schemas/fin.012.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by Tulli (Tulli) -->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jul 29 17:19:37, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:fin.012.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:fin.012.001.01" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="InfRspnFin012" type="InformationRequestFIN012"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InformationRequestFIN012">
		<xs:sequence>
			<xs:element name="AuthorityInquiry" type="AuthorityInquirySet"/>
			<xs:element name="AdditionalSearchCriteria" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SafetyDepositBoxId" type="Max140Text"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorityInquirySet">
		<xs:all>
			<xs:element name="OfficialId" type="Max140Text"/>
			<xs:element name="OfficialSuperiorId" type="Max140Text"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
