schemas/fin.012.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by Tulli (Tulli) -->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jul 29 17:19:37, ISO 20022 version : 2013-->
<xs:schema xmlns="fin.012.001.01" xmlns:c="tulli:AccountRegister/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="fin.012.001.01" elementFormDefault="qualified">
	<xs:import namespace="tulli:AccountRegister/Common" schemaLocation="./common.xsd"/>
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="InfRspnFin012" type="InformationRequestFIN012"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InformationRequestFIN012">
		<xs:sequence>
			<xs:element name="AuthorityInquiry" type="AuthorityInquirySet"/>
			<xs:element name="AdditionalSearchCriteria" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:any namespace="##any"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorityInquirySet">
		<xs:all>
			<xs:element name="OfficialId" type="c:PersonLastFirstName"/>
			<xs:element name="OfficialSuperiorId" type="c:PersonLastFirstName"/>
		</xs:all>
	</xs:complexType>
</xs:schema>
