schemas/fin.012.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 rel. 3 (x64) (http://www.altova.com) by Alex Peltonen (Visma Consulting) -->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jul 29 17:19:37, ISO 20022 version : 2013-->
<xs:schema xmlns="fin.012.001.01" xmlns:c="tulli:AccountRegister/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="fin.012.001.01" elementFormDefault="qualified">
	<xs:import namespace="tulli:AccountRegister/Common" schemaLocation="./common.xsd"/>
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="InfRspnFin013" type="InformationRequestFIN012"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InformationRequestFIN012">
		<xs:sequence>
			<xs:element name="CaseId" type="c:Max35Text"/>
			<xs:element name="AuthorityInquiry" type="AuthorityInquirySet"/>
			<xs:element name="SearchCriteria" type="SearchCriteriaChoice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorityInquirySet">
		<xs:all>
			<xs:element name="OfficialName" type="c:PersonLastFirstName"/>
			<xs:element name="OfficialSuperiorName" type="c:PersonLastFirstName"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="LegislativeBasisChoice">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SearchCriteriaChoice">
		<xs:choice>
			<xs:element name="PersonalIdentificationNumber" type="c:HETU"/>
			<xs:element name="BusinessId" type="c:FinnishBusinessId"/>
			<xs:element name="IBAN" type="c:IBAN2007Identifier"/>
			<xs:element name="OtherAccountIdentification" type="c:Max140Text"/>
			<xs:element name="NameCitizenshipBirthDate" type="NameCitizenshipBirthDate"/>
			<xs:element name="OtherOrganisationIdentification" type="c:Max140Text"/>
			<xs:element name="CompanyName" type="c:Max140Text"/>
			<xs:element name="AssociationRegisterNumber" type="c:Max140Text"/>
			<xs:element name="SafetyDepositBox" type="SafetyDepositBox"/>
			<xs:element name="PersonIdentificationDocumentNumber" type="c:Max140Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="NameCitizenshipBirthDate">
		<xs:sequence>
			<xs:element name="Name" type="c:PersonLastFirstName"/>
			<xs:element name="Citizenship" type="c:CountryCode"/>
			<xs:element name="Birthdate" type="c:ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SafetyDepositBox">
		<xs:sequence>
			<xs:element name="Id" type="c:Max35Text"/>
			<xs:element name="BIC" type="c:Max35Text"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
