schemas/fin.013.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 rel. 3 (x64) (http://www.altova.com) by Alex Peltonen (Visma Consulting) -->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jul 29 17:19:37, ISO 20022 version : 2013-->
<xs:schema xmlns="fin.013.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="fin.013.001.01" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Customer">
		<xs:sequence>
			<xs:element name="Contract" type="Contract"/>
			<xs:element name="Id" type="PartyIdentification41"/>
			<xs:element name="Beneficiaries" type="Beneficiaries" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beneficiaries">
		<xs:sequence>
			<xs:element name="Id" type="PersonIdentification5" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodeOrProprietary1Choice">
		<xs:choice>
			<xs:element name="Cd" type="Max4Text"/>
			<xs:element name="Prtry" type="GenericIdentification13"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Contract">
		<xs:sequence>
			<xs:element name="ClsgDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OpngDt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="InfRspnFin013" type="InformationResponseFIN013"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericCustomerIdentification">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification13">
		<xs:sequence>
			<xs:element name="Id" type="Max4AlphaNumericText"/>
			<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="InformationResponseFIN013">
		<xs:sequence>
			<xs:element name="InvstgtnId" type="Max35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="SvcrId" type="BranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="Customer" type="Customer" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max5NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification6">
		<xs:sequence>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OwnerType1">
		<xs:sequence>
			<xs:element name="Prtry" type="GenericIdentification1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party8Choice">
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification6"/>
			<xs:element name="PrvtId" type="PersonIdentification5"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification41">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party8Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
